.footer{
  position: relative;
  background: url('../img/bg/bg-5.jpg') center center;
  background-size: cover;
  padding: 65px 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $overlay-color;
    opacity: 0.85;
  }

  .container {
    position: relative;
    color: #fff;
  }

  .logo {
    margin-bottom: 7px;
  }

  &-content {
    margin-bottom: 60px;

    &__left {
      &-text {
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        line-height: 1.85;
        font-weight: 300;
      }
    }

    &__middle {
      &-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 3.5;
      }

      &-place {
        &-icon {
          background-image: url('../img/icons.png');
          background-position: -209px -92px;
          width: 14px;
          height: 19px;
          margin-top: 4px;
        }

        &-text {
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 1.4rem;
          line-height: 1.85;
        }
      }

      &-phone {
        &-icon {
          background-image: url('../img/icons.png');
          background-position: -209px -75px;
          width: 17px;
          height: 17px;
          margin-top: 4px;
        }

        &-number {
          color: #fff;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 1.4rem;
          line-height: 1.85;

          &:hover {
            color: rgba($color: #fff, $alpha: 0.8);
          }
        }
      }
    }

    &__right {
      &-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 3.5;
      }

      &-subscribe {
        margin-bottom: 20px;
        
        &-input {
          background-color: transparent;
          padding: 10px 15px;
          font-family: 'Roboto', sans-serif;
          font-size: 1.4rem;
          font-weight: 300;
          color: #fff;
          border: 1px solid rgba($color: #fff, $alpha: 0.75);
          overflow: hidden;
          
          &::placeholder {
            color: #fff;
            opacity: 0.75;        
          }
          
          &:focus {
            outline-color: $overlay-color;
          }
        }

        &-button {
          background-color: rgba($color: #fff, $alpha: 0.75);
          border: none;

          &-icon {
            background-image: url('../img/icons.png');
            background-position: -209px -50px;
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }

  &-bottom {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.85;

    &__left {
      text-transform: uppercase;

      li {
        margin-right: 30px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    &__right {
      text-align: end;
    }
  }
}