.video-page {
  position: relative;
  background: url('../img/bg/bg-2.jpg') center center;
  background-size: cover;
  padding: 200px 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $overlay-color;
    opacity: 0.85;
  }

  &__content {
    position: relative;

    &-play {
      border: 3px solid #fff;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: relative;
      margin: 0 auto 30px;
      cursor: pointer;
      transition: 0.3s;
      
      &:hover {
        transform: scale(1.1);
      }
      
      &-icon {
        position: absolute;
        top: 25px;
        left: 32px;
        background-image: url('../img/icons.png');
        background-position: -45px -162px;
        width: 37px;
        height: 45px;
      }
    }
  
    &-text {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 1.6rem;
      color: #fff;
      text-align: center;
    }
  }

  &-modal {
    &__title {
      font-family: 'Playfair Display', serif;
      font-size: 2.2rem;
      font-weight: 900;
      text-transform: uppercase;
      color: $title-color;
    }
  }
}