@import './abstracts/variables';

@import './components/logo';
@import './components/navigation';
@import './components/button';
@import './components/social';
@import './components/burger';

@import './layouts/header';
@import './layouts/home-page';
@import './layouts/about-page';
@import './layouts/video-page';
@import './layouts/expertise-page';
@import './layouts/team-page';
@import './layouts/works-page';
@import './layouts/feedback-page';
@import './layouts/form-page';
@import './layouts/footer';

  // font-family: 'Hammersmith One', sans-serif;
  // font-family: 'Playfair Display', serif;
  // font-family: 'Roboto', sans-serif;

html {
  font-size: 10px;
  line-height: 1;
  scroll-behavior: smooth;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    background-color: #eee;
  }
    
  ::-webkit-scrollbar-thumb {
    background-color: $overlay-color;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #fff;
  } 
}

ol, ul {
  margin: 0;
  padding-left: 15px;
  list-style: none;
}

a {
  &:hover {
    text-decoration: none;
  }
}